{% extends "base.html" %}
{% block subheading %}
    Players History 
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Top Player</th>
            <th>Best Score</th>
            <th>Time (Seconds)</th>
        </tr>
        <tr>
            {% for key, value in result.items() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    </table>
    <table>
    <tr>
        <th>Player Name</th>
        <th>Score</th>
        <th>Time (Seconds)</th>
    </tr>
    {% for i in range(length) %}
    <tr>
        <td><a href = {{ url_for("one_player", username=names[i] )}}>{{ names[i] }}</td>
        <td>{{scores[i]}}</td>
        <td>{{time[i]}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}